.bsr-right-margin {
    margin-right: 1rem;
    margin-bottom: 1rem;
 }
 
 .bsr-left-margin {
    margin-left: 1rem;
    margin-bottom: 1rem;
 }

 body {
    font-size: 1.4em;
  }
  
  .my-card {
    width: 80%;
    margin: 0 auto;
  }
  